
h1{
    font-size: 3rem;
    text-align: center;
}


p, li{
    font-size: 14pt;
    text-align: justify;
    margin-left: 100pt;
}
.date{
    font-size: 12pt;
    color: gray;
    font-style: italic;
    margin-left: 102pt;
}
.photo1{
    width: 100pt;
    border: 1pt solid gray;
    margin-top: 0pt;
    margin-left: 10pt;
    margin-right: 10pt;
    float: right;
}
.photo2{
    width: 400pt;
    border: 1pt solid gray;
    margin-top: 0pt;
    margin-left: 0pt;
    margin-right: 10pt;
    float: left;
}
.content,.name, h3, li{
    margin-left: 100pt;
    width: 930pt;
}
.introduction{
    margin-left: 101pt;
    width: 930pt;
    font-size: 14pt;
    text-align: justify;
}
.link:hover{
	color: purple;
}
.SocialMedia2:hover{
    color: purple;
}

a,.SocialMedia2{
    color: darkblue;
}
.SocialMedia{
    color: darkblue;
    margin-left: 100pt;
}
.name{
    font-size: 14pt;
}
.SocialMedia:hover{
    color: purple;
}